[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
huggingface-hub = "*"
black = "*"
transformers = "*"
faiss-cpu = "*"
youtube-transcript-api = "*"
wikipedia = "*"
langchainhub = "*"
flask = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
